<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <title>어드민입니당.</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    {{users}}
    <br />
    {{targets}}
    <br />
    {{cards}}
    <br />
    {{hps}}
    <br />
    <button type="button" class="btn btn-lg btn-block btn-primary" onclick="location.href='/admin?tick=go'">Tick</button>
    <br />
    <button type="button" class="btn btn-lg btn-block btn-primary" onclick="location.href='/admin?tick=clear'">Clear</button>
  </body>
</html>

